#ignoring all pycache objects and __pycache__ folders
*.pyc
**/__pycache__
# ignoring all images renderd to show reward
/images
*.png
# ignoring all trained algorithms
/trained_algorithms
# ignore all algorithm theory notes
/algorithm_theories
# ignore everything pertaining to wandb
/wandb
# ignore playground.py and t_estgroud.py since they are just to try ideas
playground.py
t_estground.py
# ignore TournamentEnv which is temporarily here for fun
/TournamentEnv