#ignoring all pycache objects and __pycache__ folders
*.pyc
**/__pycache__
# ignoring all images renderd to show reward
*.png
# ignoring all trained algorithms
/trained_algorithms
# ignore all algorithm theory notes
/algorithm_theories